.country {
  border: 2px solid rgb(157, 20, 5);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  background-color: rgb(3, 156, 156);
}


.btn{
  padding: 10px 25px;
  background-color: rgb(31, 11, 106);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.country-visited {
  background-color: rgb(122, 6, 231);
}